<%= form_for(@empregado) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br>
    <%= f.number_field :departamento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
   </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>

   </div>
<% end %>
