<div class="container">
  <div class="fullwidth">
    <div class="profile">
      <div class="profilebig">
        <img src="/images/avatar/<%= @empregado.image %>.png" alt="avatar">
      </div>
      <div class="info">
        <h1 class="name"><%= @empregado.name %></h1>
        <h3 class="job"><span class="jobedit"><%= @empregado.job %></span> na empresa <span class="compedit"><%= @empregado.departamento.empresa.name %></span></h3>
        <p class="location"><span class="locationedit"><%= @empregado.location %></p>
        <h3 class="friends"><a href="/contactos"><%= @empregado.contactos.count %> contactos</a></h3>
        <!--Estamos a contar os pendentes!!!-->
      </div>
      <% if current_empregado.id == @empregado.id %>
        <div class="add"><a class="button edit" href="#">Editar Perfil</a></div>
      <% else %>
        <div class="add"><a class="button" href="#">Adicionar Contacto</a></div>
      <% end %>
    </div>
    <div class="about">
      <h2 class="title">Sobre mim</h2>
       <p class="location"><span class="locationedit"><%= @empregado.about %></p>
    </div>
    <div>
      <h2 class="title">Curriculum Vitæ</h2>
      <br>
      <h3 class="title left">Experiência Profissional</h3>
      <p class="cv"></p>
      <h3 class="title left">Formação Académica</h3>
      <p class="cv"></p>
      <h3 class="title left">Competências</h3>
      <p class="cv"></p>
    </div>
  </div>
</div>
