<div class="container">
  <div class="fullwidth">
    <div class="profile">
      <div class="profilebig">
        <img src="/images/avatar/<%= @empregado.image %>.png" alt="avatar">
      </div>
      <div class="info">
        <h1 class="name"><%= @empregado.name %></h1>
        <%if @empregado.departamento.respond_to? :empresa%>
          <h3 class="job"><span class="jobedit"><%= @empregado.job %></span> na empresa <span class="compedit"><%= link_to(@empregado.departamento.empresa.name, @empregado.departamento.empresa)%></span></h3>
        <%end%>
        <p class="location"><span class="locationedit"><%= @empregado.location %></p>
          <% if current_empregado.id == @empregado.id %>
            <h3 class="friends"><a href="/contactos"><%= @empregado.contactos.where(:pendente => false).count %> contactos</a></h3>
          <% else %>
            <h3 class="friends"><%= @namigos %> contactos</h3>
          <% end %>
        </div>
        <% if current_empregado.id == @empregado.id %>
          <div class="add"><%= link_to "Editar Perfil", edit_empregado_path(@empregado), class: "button"%></div>
        <% elsif @pendente %>
          <div class="add"><span class="button">Pedido Pendente</span></div>
        <% elsif @amigo %>
          <div class="add"><span class="button btngreen">Já Está Adicionado</span></div>
        <% else %>
          <div class="add"><%= link_to("Adicionar Contacto", {:controller => "contactos", :action => "new", :amigoid => @empregado.id}, {:class => "button"}) %></div>
        <% end %>
      </div>
      <div class="about">
        <% if @empregado.about %><h2 class="title">Sobre mim</h2><%end%>
        <p class="location"><span class="locationedit"><%= @empregado.about %></p>
        </div>
        <div>
          <br>
          <% if @empregado.cv.respond_to? :exp%>
            <% if @empregado.cv.exp.any? %>
              <h3 class="title left">Experiência Profissional</h3>
              <ul>
                <% @empregado.cv.exp.each do |e| %>
                  <li class="cv"><%=e%></li>
                <% end %>
              </ul>
            <% end %>
          <%end%>
          <% if @empregado.cv.respond_to? :academic%>
            <% if @empregado.cv.academic.any? %>
              <h3 class="title left">Formação Académica</h3>
              <ul>
                <% @empregado.cv.academic.each do |e| %>
                  <li class="cv"><%=e%></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
          <% if @empregado.cv.respond_to? :skills%>
            <% if @empregado.cv.skills.any? %>
              <h3 class="title left">Competências</h3>
              <ul>
                <% @empregado.cv.skills.each do |e| %>
                  <li class="cv"><%=e%></li>
                <% end %>
              </ul>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
