<div class="container">
  <div class="fullwidth">
    <div>
      <form action="./search.html" method="get">
        <input name="contact" type="search" class="search" placeholder="Pesquisa">
      </form>
    </div>
    <div class="pendingreq">
      <% if @porac.any? %>
        <h2 class="title">Pedidos Pendentes</h2>
      <% end %>
      <% @porac.each do |a| %>
        <div class="contact pending">
          <%= link_to image_tag("/images/avatar/#{a.image}.png", alt: a.name), a %>
          <p><%= link_to a.name , a %> <span><%= link_to a.email, "mailto:#{a.email}" %></span></p>
          <p>
          <%= link_to image_tag("/images/check.png", alt: "aceitar"), :controller => "contactos", :action => "aceitar", :amigoid => a.id %>
          <%= link_to image_tag("/images/cross.png", alt: "recusar"), :controller => "contactos", :action => "recusar", :amigoid => a.id %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="confirmed">
      <% if @amigos.any? %>
        <h2 class="title">Contactos</h2>
      <% end %>
      <% @amigos.each do |a| %>
        <%naemp=false%>
        <%if a.departamento.respond_to? :empresa%>
          <%
              if a.departamento.empresa.id == @dono
                naemp=true
          end
        %>
    <%end%>
    <% if !@dono 

         naemp = true 
    end %>
  <% if naemp%>
    <div class="contact">
      <%= link_to image_tag("/images/avatar/#{a.image}.png", alt: a.name), a %>
      <p><%= link_to a.name , a %> <span><%= link_to a.email, "mailto:#{a.email}" %></span></p>
    </div>
  <%else%>
    <div class="contact pending">
      <%= link_to image_tag("/images/avatar/#{a.image}.png", alt: a.name), a %>
      <p><%= link_to a.name , a %> <span><%= link_to a.email, "mailto:#{a.email}" %></span></p>
      <p>
      <%= button_to "Contratar", {:controller => :empresas, :action => :recrutar, :emp_id => a.id}, {:method => "post", :class => "button btnsmall ajeitar"} %>
      </p>
    </div>
  <% end %>
<% end %>
    </div>
  </div>
</div>
