<div class="container">
  <div class="fullwidth">
    <div class="profile">
      <div class="profilebig">
        <img src="/images/logos/<%=@empresa.logo%>" alt="logo">
      </div>
      <div class="info">
        <h1 class="name"><%= @empresa.name %></h1>
        <h3 class="friends"><%= @empresa.empregados.count %> Funcionarios</h3>
      </div>
      <%if @owner %>
        <div class="add"><%=link_to "Editar Empresa", edit_empresa_path(@empresa), class: "button" %></div>
      <% end %>
    </div>
    <div class="about">
      <h2 class="title">Descrição da empresa</h2>
      <p><%= @empresa.description %></p>
    </div>
    <div>
      <h2 class="title">Funcionarios Actuais</h2>
      <br>
      <div>
        <% @empresa.departamentos.each do |dep| %>
          <% if dep.empregados.any? %>
            <h3 class="title">Departamento de <%= dep.name %></h3>
          <%end%>
          <% dep.empregados.each do |emp| %>
            <% if (!@owner || emp.id==current_empregado.id) %>
              <div class="contact">
              <%= link_to image_tag("/images/avatar/#{emp.image}.png", alt: emp.name), emp %>
              <p><%= link_to emp.name, emp %> <span><%= link_to emp.email, "mailto:#{emp.email}" %></span></p>
            <% else %>
              <div class="contact pending">
              <%= link_to image_tag("/images/avatar/#{emp.image}.png", alt: emp.name), emp %>
              <p><%= link_to emp.name, emp %> <span><%= link_to emp.email, "mailto:#{emp.email}" %></span></p>
              <%= button_to "Despedir", {:controller => :empresas, :action => :despedir, :emp_id => emp.id}, {:method => "post", :class => "button btnsmall ajeitar"} %>
            <% end %>
            </div>
          <% end %>
        <% end %>
        <div>
          <h3 class="title">Ex-funcionarios</h3>
        </div>
      </div>
    </div>
  </div>
</div>
