<!DOCTYPE html>
<html>
<head>
<title>Let's Get Pro</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<style>
body {
  margin-top: 30px;
}
form {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
}
</style>
</head>
<body>
<div class="container">
  <div class="fullwidth">
    <h1 class="title center">Registar</h2>
    <br />
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <br />
      <div>
        <%= f.email_field :email, :autofocus => true , :class => "forminput", :placeholder => "email"%></div>
      <br />
      <div>
        <%= f.password_field :password, :class => "forminput", :placeholder => "password"%></div>
      <br />
      <div>
        <%= f.password_field :password_confirmation, :class => "forminput", :placeholder => "confirmar password" %></div>
      <br />
      <div><%= f.submit "Registar", class: "button btngreen" %></div>
    <% end %>
  </div>
</div>
</body>
</html>
