<!DOCTYPE html>
<html>
<head>
<title>Let's Get Pro</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<style>
body {
  margin-top: 30px;
}
form {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
}
</style>
</head>
<body>
<div class="container">
  <div class="fullwidth">
    <h1 class="title center">Let's Get Pro - Sign in</h2>
    <br />
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.email_field :email, :autofocus => true, :class => "forminput", :placeholder => "Email" %></div>
      <br />

      <div>
        <%= f.password_field :password, :class => "forminput", :placeholder => "Password" %></div>
      <br />
      <div><%= f.submit "Sign in", class: "button btngreen" %> <%= link_to "Registar", new_empregado_registration_path, class: "button"%></div>
    <% end %>
  </div>
</div>
</body>
</html>

