<!DOCTYPE html>
<html>
<head>
<title>Let's Get Pro</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <span class="togglemenu">&#9776;</span>
    <div class="logo">
      <%= link_to("Let's get Pro", root_path) %>
    </div>
    <div class="avatar--mobile menutoggle">
      <img class="avatar avatar__big round" alt="avatar" src="/images/avatar/<%= current_empregado.image %>.png">
    </div>
    <div class="menu menutoggle">
      <ul class="nav">
        <li><a <%if controller.controller_name == "posts"%>class="selected"<%end%>href="/">Home</a></li>
        <li><a <%if controller.controller_name == "empregados"%>class="selected"<%end%>href="/empregados/<%= current_empregado.id %>">Perfil</a></li>
        <li><a <%if controller.controller_name == "contactos"%>class="selected"<%end%>href="/contactos">Contactos</a></li>
        <li><a <%if controller.controller_name == "empresas"%>class="selected"<%end%>href="/empresas">Empresas</a></li>
        <li class="hidden-desktop"><a href="#/settings">Definições</a></li>
        <li class="hidden-desktop"><a href="#/logout">Sair</a></li>
      </ul>
    </div>
    <div class="fright dropdown hidden-phone">
      <a class="login" href="#"><img class="avatar fleft" alt="avatar" src="/images/avatar/<%= current_empregado.image %>.png"><span>▾</span></a>
      <div class="submenu">
        <ul>
          <li><%= link_to "Criar Empresa", new_empresa_path %></li>
          <li><%= link_to "Sair", destroy_empregado_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
    <div class="fright searchbar menutoggle">
      <form action="/search" method="get">
        <input name="q" type="search" class="search top" placeholder="Pesquisa">
      </form>
    </div>
  </div>
</header>
<%= yield %>
<footer> Página criada no âmbito da cadeira <a href="http://ctp.di.fct.unl.pt/lei/daweb/">DAWeb</a>. <a href="/about">Sobre os autores</a>
</footer>
</body>
</html>
